/*
	Font
*/
@import url("https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700");
/*
	Colors
*/
/*
Mixin
*/
/*
	imports
*/
/*!
 * Bootstrap v4.0.0 (https://getbootstrap.com)
 * Copyright 2011-2018 The Bootstrap Authors
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

@-ms-viewport {
  width: device-width;
}

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

p {
  margin-top: 0;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 500;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

dfn {
  font-style: italic;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

.container {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 546px;
  }
}

@media (min-width: 791px) {
  .container {
    max-width: 770px;
  }
}

@media (min-width: 1025px) {
  .container {
    max-width: 990px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.order-first {
  order: -1;
}

.order-last {
  order: 13;
}

.order-0 {
  order: 0;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.order-4 {
  order: 4;
}

.order-5 {
  order: 5;
}

.order-6 {
  order: 6;
}

.order-7 {
  order: 7;
}

.order-8 {
  order: 8;
}

.order-9 {
  order: 9;
}

.order-10 {
  order: 10;
}

.order-11 {
  order: 11;
}

.order-12 {
  order: 12;
}

.offset-1 {
  margin-left: 8.33333%;
}

.offset-2 {
  margin-left: 16.66667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.33333%;
}

.offset-5 {
  margin-left: 41.66667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.33333%;
}

.offset-8 {
  margin-left: 66.66667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.33333%;
}

.offset-11 {
  margin-left: 91.66667%;
}

@media (min-width: 576px) {
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-sm-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-sm-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-sm-first {
    order: -1;
  }
  .order-sm-last {
    order: 13;
  }
  .order-sm-0 {
    order: 0;
  }
  .order-sm-1 {
    order: 1;
  }
  .order-sm-2 {
    order: 2;
  }
  .order-sm-3 {
    order: 3;
  }
  .order-sm-4 {
    order: 4;
  }
  .order-sm-5 {
    order: 5;
  }
  .order-sm-6 {
    order: 6;
  }
  .order-sm-7 {
    order: 7;
  }
  .order-sm-8 {
    order: 8;
  }
  .order-sm-9 {
    order: 9;
  }
  .order-sm-10 {
    order: 10;
  }
  .order-sm-11 {
    order: 11;
  }
  .order-sm-12 {
    order: 12;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.33333%;
  }
  .offset-sm-2 {
    margin-left: 16.66667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.33333%;
  }
  .offset-sm-5 {
    margin-left: 41.66667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.33333%;
  }
  .offset-sm-8 {
    margin-left: 66.66667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.33333%;
  }
  .offset-sm-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: 791px) {
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-md-first {
    order: -1;
  }
  .order-md-last {
    order: 13;
  }
  .order-md-0 {
    order: 0;
  }
  .order-md-1 {
    order: 1;
  }
  .order-md-2 {
    order: 2;
  }
  .order-md-3 {
    order: 3;
  }
  .order-md-4 {
    order: 4;
  }
  .order-md-5 {
    order: 5;
  }
  .order-md-6 {
    order: 6;
  }
  .order-md-7 {
    order: 7;
  }
  .order-md-8 {
    order: 8;
  }
  .order-md-9 {
    order: 9;
  }
  .order-md-10 {
    order: 10;
  }
  .order-md-11 {
    order: 11;
  }
  .order-md-12 {
    order: 12;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.33333%;
  }
  .offset-md-2 {
    margin-left: 16.66667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.33333%;
  }
  .offset-md-5 {
    margin-left: 41.66667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.33333%;
  }
  .offset-md-8 {
    margin-left: 66.66667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.33333%;
  }
  .offset-md-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: 1025px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-lg-first {
    order: -1;
  }
  .order-lg-last {
    order: 13;
  }
  .order-lg-0 {
    order: 0;
  }
  .order-lg-1 {
    order: 1;
  }
  .order-lg-2 {
    order: 2;
  }
  .order-lg-3 {
    order: 3;
  }
  .order-lg-4 {
    order: 4;
  }
  .order-lg-5 {
    order: 5;
  }
  .order-lg-6 {
    order: 6;
  }
  .order-lg-7 {
    order: 7;
  }
  .order-lg-8 {
    order: 8;
  }
  .order-lg-9 {
    order: 9;
  }
  .order-lg-10 {
    order: 10;
  }
  .order-lg-11 {
    order: 11;
  }
  .order-lg-12 {
    order: 12;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.33333%;
  }
  .offset-lg-2 {
    margin-left: 16.66667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.33333%;
  }
  .offset-lg-5 {
    margin-left: 41.66667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.33333%;
  }
  .offset-lg-8 {
    margin-left: 66.66667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.33333%;
  }
  .offset-lg-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: 1200px) {
  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-xl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-xl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-xl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-xl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-xl-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-xl-first {
    order: -1;
  }
  .order-xl-last {
    order: 13;
  }
  .order-xl-0 {
    order: 0;
  }
  .order-xl-1 {
    order: 1;
  }
  .order-xl-2 {
    order: 2;
  }
  .order-xl-3 {
    order: 3;
  }
  .order-xl-4 {
    order: 4;
  }
  .order-xl-5 {
    order: 5;
  }
  .order-xl-6 {
    order: 6;
  }
  .order-xl-7 {
    order: 7;
  }
  .order-xl-8 {
    order: 8;
  }
  .order-xl-9 {
    order: 9;
  }
  .order-xl-10 {
    order: 10;
  }
  .order-xl-11 {
    order: 11;
  }
  .order-xl-12 {
    order: 12;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.33333%;
  }
  .offset-xl-2 {
    margin-left: 16.66667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.33333%;
  }
  .offset-xl-5 {
    margin-left: 41.66667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.33333%;
  }
  .offset-xl-8 {
    margin-left: 66.66667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.33333%;
  }
  .offset-xl-11 {
    margin-left: 91.66667%;
  }
}

.align-baseline {
  vertical-align: baseline !important;
}

.align-top {
  vertical-align: top !important;
}

.align-middle {
  vertical-align: middle !important;
}

.align-bottom {
  vertical-align: bottom !important;
}

.align-text-bottom {
  vertical-align: text-bottom !important;
}

.align-text-top {
  vertical-align: text-top !important;
}

.bg-primary {
  background-color: #007bff !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #0062cc !important;
}

.bg-secondary {
  background-color: #6c757d !important;
}

a.bg-secondary:hover, a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus {
  background-color: #545b62 !important;
}

.bg-success {
  background-color: #28a745 !important;
}

a.bg-success:hover, a.bg-success:focus,
button.bg-success:hover,
button.bg-success:focus {
  background-color: #1e7e34 !important;
}

.bg-info {
  background-color: #17a2b8 !important;
}

a.bg-info:hover, a.bg-info:focus,
button.bg-info:hover,
button.bg-info:focus {
  background-color: #117a8b !important;
}

.bg-warning {
  background-color: #ffc107 !important;
}

a.bg-warning:hover, a.bg-warning:focus,
button.bg-warning:hover,
button.bg-warning:focus {
  background-color: #d39e00 !important;
}

.bg-danger {
  background-color: #dc3545 !important;
}

a.bg-danger:hover, a.bg-danger:focus,
button.bg-danger:hover,
button.bg-danger:focus {
  background-color: #bd2130 !important;
}

.bg-light {
  background-color: #f8f9fa !important;
}

a.bg-light:hover, a.bg-light:focus,
button.bg-light:hover,
button.bg-light:focus {
  background-color: #dae0e5 !important;
}

.bg-dark {
  background-color: #343a40 !important;
}

a.bg-dark:hover, a.bg-dark:focus,
button.bg-dark:hover,
button.bg-dark:focus {
  background-color: #1d2124 !important;
}

.bg-white {
  background-color: #fff !important;
}

.bg-transparent {
  background-color: transparent !important;
}

.border {
  border: 1px solid #dee2e6 !important;
}

.border-top {
  border-top: 1px solid #dee2e6 !important;
}

.border-right {
  border-right: 1px solid #dee2e6 !important;
}

.border-bottom {
  border-bottom: 1px solid #dee2e6 !important;
}

.border-left {
  border-left: 1px solid #dee2e6 !important;
}

.border-0 {
  border: 0 !important;
}

.border-top-0 {
  border-top: 0 !important;
}

.border-right-0 {
  border-right: 0 !important;
}

.border-bottom-0 {
  border-bottom: 0 !important;
}

.border-left-0 {
  border-left: 0 !important;
}

.border-primary {
  border-color: #007bff !important;
}

.border-secondary {
  border-color: #6c757d !important;
}

.border-success {
  border-color: #28a745 !important;
}

.border-info {
  border-color: #17a2b8 !important;
}

.border-warning {
  border-color: #ffc107 !important;
}

.border-danger {
  border-color: #dc3545 !important;
}

.border-light {
  border-color: #f8f9fa !important;
}

.border-dark {
  border-color: #343a40 !important;
}

.border-white {
  border-color: #fff !important;
}

.rounded {
  border-radius: 0 !important;
}

.rounded-top {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.rounded-right {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.rounded-bottom {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.rounded-left {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.rounded-0 {
  border-radius: 0 !important;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.d-none {
  display: none !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

.d-table {
  display: table !important;
}

.d-table-row {
  display: table-row !important;
}

.d-table-cell {
  display: table-cell !important;
}

.d-flex {
  display: flex !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

@media (min-width: 576px) {
  .d-sm-none {
    display: none !important;
  }
  .d-sm-inline {
    display: inline !important;
  }
  .d-sm-inline-block {
    display: inline-block !important;
  }
  .d-sm-block {
    display: block !important;
  }
  .d-sm-table {
    display: table !important;
  }
  .d-sm-table-row {
    display: table-row !important;
  }
  .d-sm-table-cell {
    display: table-cell !important;
  }
  .d-sm-flex {
    display: flex !important;
  }
  .d-sm-inline-flex {
    display: inline-flex !important;
  }
}

@media (min-width: 791px) {
  .d-md-none {
    display: none !important;
  }
  .d-md-inline {
    display: inline !important;
  }
  .d-md-inline-block {
    display: inline-block !important;
  }
  .d-md-block {
    display: block !important;
  }
  .d-md-table {
    display: table !important;
  }
  .d-md-table-row {
    display: table-row !important;
  }
  .d-md-table-cell {
    display: table-cell !important;
  }
  .d-md-flex {
    display: flex !important;
  }
  .d-md-inline-flex {
    display: inline-flex !important;
  }
}

@media (min-width: 1025px) {
  .d-lg-none {
    display: none !important;
  }
  .d-lg-inline {
    display: inline !important;
  }
  .d-lg-inline-block {
    display: inline-block !important;
  }
  .d-lg-block {
    display: block !important;
  }
  .d-lg-table {
    display: table !important;
  }
  .d-lg-table-row {
    display: table-row !important;
  }
  .d-lg-table-cell {
    display: table-cell !important;
  }
  .d-lg-flex {
    display: flex !important;
  }
  .d-lg-inline-flex {
    display: inline-flex !important;
  }
}

@media (min-width: 1200px) {
  .d-xl-none {
    display: none !important;
  }
  .d-xl-inline {
    display: inline !important;
  }
  .d-xl-inline-block {
    display: inline-block !important;
  }
  .d-xl-block {
    display: block !important;
  }
  .d-xl-table {
    display: table !important;
  }
  .d-xl-table-row {
    display: table-row !important;
  }
  .d-xl-table-cell {
    display: table-cell !important;
  }
  .d-xl-flex {
    display: flex !important;
  }
  .d-xl-inline-flex {
    display: inline-flex !important;
  }
}

@media print {
  .d-print-none {
    display: none !important;
  }
  .d-print-inline {
    display: inline !important;
  }
  .d-print-inline-block {
    display: inline-block !important;
  }
  .d-print-block {
    display: block !important;
  }
  .d-print-table {
    display: table !important;
  }
  .d-print-table-row {
    display: table-row !important;
  }
  .d-print-table-cell {
    display: table-cell !important;
  }
  .d-print-flex {
    display: flex !important;
  }
  .d-print-inline-flex {
    display: inline-flex !important;
  }
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.embed-responsive::before {
  display: block;
  content: "";
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-21by9::before {
  padding-top: 42.85714%;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive-4by3::before {
  padding-top: 75%;
}

.embed-responsive-1by1::before {
  padding-top: 100%;
}

.flex-row {
  flex-direction: row !important;
}

.flex-column {
  flex-direction: column !important;
}

.flex-row-reverse {
  flex-direction: row-reverse !important;
}

.flex-column-reverse {
  flex-direction: column-reverse !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.flex-nowrap {
  flex-wrap: nowrap !important;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-baseline {
  align-items: baseline !important;
}

.align-items-stretch {
  align-items: stretch !important;
}

.align-content-start {
  align-content: flex-start !important;
}

.align-content-end {
  align-content: flex-end !important;
}

.align-content-center {
  align-content: center !important;
}

.align-content-between {
  align-content: space-between !important;
}

.align-content-around {
  align-content: space-around !important;
}

.align-content-stretch {
  align-content: stretch !important;
}

.align-self-auto {
  align-self: auto !important;
}

.align-self-start {
  align-self: flex-start !important;
}

.align-self-end {
  align-self: flex-end !important;
}

.align-self-center {
  align-self: center !important;
}

.align-self-baseline {
  align-self: baseline !important;
}

.align-self-stretch {
  align-self: stretch !important;
}

@media (min-width: 576px) {
  .flex-sm-row {
    flex-direction: row !important;
  }
  .flex-sm-column {
    flex-direction: column !important;
  }
  .flex-sm-row-reverse {
    flex-direction: row-reverse !important;
  }
  .flex-sm-column-reverse {
    flex-direction: column-reverse !important;
  }
  .flex-sm-wrap {
    flex-wrap: wrap !important;
  }
  .flex-sm-nowrap {
    flex-wrap: nowrap !important;
  }
  .flex-sm-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }
  .justify-content-sm-start {
    justify-content: flex-start !important;
  }
  .justify-content-sm-end {
    justify-content: flex-end !important;
  }
  .justify-content-sm-center {
    justify-content: center !important;
  }
  .justify-content-sm-between {
    justify-content: space-between !important;
  }
  .justify-content-sm-around {
    justify-content: space-around !important;
  }
  .align-items-sm-start {
    align-items: flex-start !important;
  }
  .align-items-sm-end {
    align-items: flex-end !important;
  }
  .align-items-sm-center {
    align-items: center !important;
  }
  .align-items-sm-baseline {
    align-items: baseline !important;
  }
  .align-items-sm-stretch {
    align-items: stretch !important;
  }
  .align-content-sm-start {
    align-content: flex-start !important;
  }
  .align-content-sm-end {
    align-content: flex-end !important;
  }
  .align-content-sm-center {
    align-content: center !important;
  }
  .align-content-sm-between {
    align-content: space-between !important;
  }
  .align-content-sm-around {
    align-content: space-around !important;
  }
  .align-content-sm-stretch {
    align-content: stretch !important;
  }
  .align-self-sm-auto {
    align-self: auto !important;
  }
  .align-self-sm-start {
    align-self: flex-start !important;
  }
  .align-self-sm-end {
    align-self: flex-end !important;
  }
  .align-self-sm-center {
    align-self: center !important;
  }
  .align-self-sm-baseline {
    align-self: baseline !important;
  }
  .align-self-sm-stretch {
    align-self: stretch !important;
  }
}

@media (min-width: 791px) {
  .flex-md-row {
    flex-direction: row !important;
  }
  .flex-md-column {
    flex-direction: column !important;
  }
  .flex-md-row-reverse {
    flex-direction: row-reverse !important;
  }
  .flex-md-column-reverse {
    flex-direction: column-reverse !important;
  }
  .flex-md-wrap {
    flex-wrap: wrap !important;
  }
  .flex-md-nowrap {
    flex-wrap: nowrap !important;
  }
  .flex-md-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }
  .justify-content-md-start {
    justify-content: flex-start !important;
  }
  .justify-content-md-end {
    justify-content: flex-end !important;
  }
  .justify-content-md-center {
    justify-content: center !important;
  }
  .justify-content-md-between {
    justify-content: space-between !important;
  }
  .justify-content-md-around {
    justify-content: space-around !important;
  }
  .align-items-md-start {
    align-items: flex-start !important;
  }
  .align-items-md-end {
    align-items: flex-end !important;
  }
  .align-items-md-center {
    align-items: center !important;
  }
  .align-items-md-baseline {
    align-items: baseline !important;
  }
  .align-items-md-stretch {
    align-items: stretch !important;
  }
  .align-content-md-start {
    align-content: flex-start !important;
  }
  .align-content-md-end {
    align-content: flex-end !important;
  }
  .align-content-md-center {
    align-content: center !important;
  }
  .align-content-md-between {
    align-content: space-between !important;
  }
  .align-content-md-around {
    align-content: space-around !important;
  }
  .align-content-md-stretch {
    align-content: stretch !important;
  }
  .align-self-md-auto {
    align-self: auto !important;
  }
  .align-self-md-start {
    align-self: flex-start !important;
  }
  .align-self-md-end {
    align-self: flex-end !important;
  }
  .align-self-md-center {
    align-self: center !important;
  }
  .align-self-md-baseline {
    align-self: baseline !important;
  }
  .align-self-md-stretch {
    align-self: stretch !important;
  }
}

@media (min-width: 1025px) {
  .flex-lg-row {
    flex-direction: row !important;
  }
  .flex-lg-column {
    flex-direction: column !important;
  }
  .flex-lg-row-reverse {
    flex-direction: row-reverse !important;
  }
  .flex-lg-column-reverse {
    flex-direction: column-reverse !important;
  }
  .flex-lg-wrap {
    flex-wrap: wrap !important;
  }
  .flex-lg-nowrap {
    flex-wrap: nowrap !important;
  }
  .flex-lg-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }
  .justify-content-lg-start {
    justify-content: flex-start !important;
  }
  .justify-content-lg-end {
    justify-content: flex-end !important;
  }
  .justify-content-lg-center {
    justify-content: center !important;
  }
  .justify-content-lg-between {
    justify-content: space-between !important;
  }
  .justify-content-lg-around {
    justify-content: space-around !important;
  }
  .align-items-lg-start {
    align-items: flex-start !important;
  }
  .align-items-lg-end {
    align-items: flex-end !important;
  }
  .align-items-lg-center {
    align-items: center !important;
  }
  .align-items-lg-baseline {
    align-items: baseline !important;
  }
  .align-items-lg-stretch {
    align-items: stretch !important;
  }
  .align-content-lg-start {
    align-content: flex-start !important;
  }
  .align-content-lg-end {
    align-content: flex-end !important;
  }
  .align-content-lg-center {
    align-content: center !important;
  }
  .align-content-lg-between {
    align-content: space-between !important;
  }
  .align-content-lg-around {
    align-content: space-around !important;
  }
  .align-content-lg-stretch {
    align-content: stretch !important;
  }
  .align-self-lg-auto {
    align-self: auto !important;
  }
  .align-self-lg-start {
    align-self: flex-start !important;
  }
  .align-self-lg-end {
    align-self: flex-end !important;
  }
  .align-self-lg-center {
    align-self: center !important;
  }
  .align-self-lg-baseline {
    align-self: baseline !important;
  }
  .align-self-lg-stretch {
    align-self: stretch !important;
  }
}

@media (min-width: 1200px) {
  .flex-xl-row {
    flex-direction: row !important;
  }
  .flex-xl-column {
    flex-direction: column !important;
  }
  .flex-xl-row-reverse {
    flex-direction: row-reverse !important;
  }
  .flex-xl-column-reverse {
    flex-direction: column-reverse !important;
  }
  .flex-xl-wrap {
    flex-wrap: wrap !important;
  }
  .flex-xl-nowrap {
    flex-wrap: nowrap !important;
  }
  .flex-xl-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }
  .justify-content-xl-start {
    justify-content: flex-start !important;
  }
  .justify-content-xl-end {
    justify-content: flex-end !important;
  }
  .justify-content-xl-center {
    justify-content: center !important;
  }
  .justify-content-xl-between {
    justify-content: space-between !important;
  }
  .justify-content-xl-around {
    justify-content: space-around !important;
  }
  .align-items-xl-start {
    align-items: flex-start !important;
  }
  .align-items-xl-end {
    align-items: flex-end !important;
  }
  .align-items-xl-center {
    align-items: center !important;
  }
  .align-items-xl-baseline {
    align-items: baseline !important;
  }
  .align-items-xl-stretch {
    align-items: stretch !important;
  }
  .align-content-xl-start {
    align-content: flex-start !important;
  }
  .align-content-xl-end {
    align-content: flex-end !important;
  }
  .align-content-xl-center {
    align-content: center !important;
  }
  .align-content-xl-between {
    align-content: space-between !important;
  }
  .align-content-xl-around {
    align-content: space-around !important;
  }
  .align-content-xl-stretch {
    align-content: stretch !important;
  }
  .align-self-xl-auto {
    align-self: auto !important;
  }
  .align-self-xl-start {
    align-self: flex-start !important;
  }
  .align-self-xl-end {
    align-self: flex-end !important;
  }
  .align-self-xl-center {
    align-self: center !important;
  }
  .align-self-xl-baseline {
    align-self: baseline !important;
  }
  .align-self-xl-stretch {
    align-self: stretch !important;
  }
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.float-none {
  float: none !important;
}

@media (min-width: 576px) {
  .float-sm-left {
    float: left !important;
  }
  .float-sm-right {
    float: right !important;
  }
  .float-sm-none {
    float: none !important;
  }
}

@media (min-width: 791px) {
  .float-md-left {
    float: left !important;
  }
  .float-md-right {
    float: right !important;
  }
  .float-md-none {
    float: none !important;
  }
}

@media (min-width: 1025px) {
  .float-lg-left {
    float: left !important;
  }
  .float-lg-right {
    float: right !important;
  }
  .float-lg-none {
    float: none !important;
  }
}

@media (min-width: 1200px) {
  .float-xl-left {
    float: left !important;
  }
  .float-xl-right {
    float: right !important;
  }
  .float-xl-none {
    float: none !important;
  }
}

.position-static {
  position: static !important;
}

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.position-fixed {
  position: fixed !important;
}

.position-sticky {
  position: sticky !important;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 23;
}

.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 23;
}

@supports (position: sticky) {
  .sticky-top {
    position: sticky;
    top: 0;
    z-index: 22;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
  clip-path: none;
}

.w-25 {
  width: 25% !important;
}

.w-50 {
  width: 50% !important;
}

.w-75 {
  width: 75% !important;
}

.w-100 {
  width: 100% !important;
}

.h-25 {
  height: 25% !important;
}

.h-50 {
  height: 50% !important;
}

.h-75 {
  height: 75% !important;
}

.h-100 {
  height: 100% !important;
}

.mw-100 {
  max-width: 100% !important;
}

.mh-100 {
  max-height: 100% !important;
}

.m-0 {
  margin: 0 !important;
}

.mt-0,
.my-0 {
  margin-top: 0 !important;
}

.mr-0,
.mx-0 {
  margin-right: 0 !important;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.ml-0,
.mx-0 {
  margin-left: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.mt-1,
.my-1 {
  margin-top: 0.25rem !important;
}

.mr-1,
.mx-1 {
  margin-right: 0.25rem !important;
}

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
}

.ml-1,
.mx-1 {
  margin-left: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}

.mr-4,
.mx-4 {
  margin-right: 1.5rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.mr-5,
.mx-5 {
  margin-right: 3rem !important;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.ml-5,
.mx-5 {
  margin-left: 3rem !important;
}

.p-0 {
  padding: 0 !important;
}

.pt-0,
.py-0 {
  padding-top: 0 !important;
}

.pr-0,
.px-0 {
  padding-right: 0 !important;
}

.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}

.pl-0,
.px-0 {
  padding-left: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.pt-1,
.py-1 {
  padding-top: 0.25rem !important;
}

.pr-1,
.px-1 {
  padding-right: 0.25rem !important;
}

.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important;
}

.pl-1,
.px-1 {
  padding-left: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}

.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}

.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}

.pl-2,
.px-2 {
  padding-left: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.pt-3,
.py-3 {
  padding-top: 1rem !important;
}

.pr-3,
.px-3 {
  padding-right: 1rem !important;
}

.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}

.pl-3,
.px-3 {
  padding-left: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}

.pr-4,
.px-4 {
  padding-right: 1.5rem !important;
}

.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important;
}

.pl-4,
.px-4 {
  padding-left: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.pt-5,
.py-5 {
  padding-top: 3rem !important;
}

.pr-5,
.px-5 {
  padding-right: 3rem !important;
}

.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}

.pl-5,
.px-5 {
  padding-left: 3rem !important;
}

.m-auto {
  margin: auto !important;
}

.mt-auto,
.my-auto {
  margin-top: auto !important;
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.mb-auto,
.my-auto {
  margin-bottom: auto !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

@media (min-width: 576px) {
  .m-sm-0 {
    margin: 0 !important;
  }
  .mt-sm-0,
  .my-sm-0 {
    margin-top: 0 !important;
  }
  .mr-sm-0,
  .mx-sm-0 {
    margin-right: 0 !important;
  }
  .mb-sm-0,
  .my-sm-0 {
    margin-bottom: 0 !important;
  }
  .ml-sm-0,
  .mx-sm-0 {
    margin-left: 0 !important;
  }
  .m-sm-1 {
    margin: 0.25rem !important;
  }
  .mt-sm-1,
  .my-sm-1 {
    margin-top: 0.25rem !important;
  }
  .mr-sm-1,
  .mx-sm-1 {
    margin-right: 0.25rem !important;
  }
  .mb-sm-1,
  .my-sm-1 {
    margin-bottom: 0.25rem !important;
  }
  .ml-sm-1,
  .mx-sm-1 {
    margin-left: 0.25rem !important;
  }
  .m-sm-2 {
    margin: 0.5rem !important;
  }
  .mt-sm-2,
  .my-sm-2 {
    margin-top: 0.5rem !important;
  }
  .mr-sm-2,
  .mx-sm-2 {
    margin-right: 0.5rem !important;
  }
  .mb-sm-2,
  .my-sm-2 {
    margin-bottom: 0.5rem !important;
  }
  .ml-sm-2,
  .mx-sm-2 {
    margin-left: 0.5rem !important;
  }
  .m-sm-3 {
    margin: 1rem !important;
  }
  .mt-sm-3,
  .my-sm-3 {
    margin-top: 1rem !important;
  }
  .mr-sm-3,
  .mx-sm-3 {
    margin-right: 1rem !important;
  }
  .mb-sm-3,
  .my-sm-3 {
    margin-bottom: 1rem !important;
  }
  .ml-sm-3,
  .mx-sm-3 {
    margin-left: 1rem !important;
  }
  .m-sm-4 {
    margin: 1.5rem !important;
  }
  .mt-sm-4,
  .my-sm-4 {
    margin-top: 1.5rem !important;
  }
  .mr-sm-4,
  .mx-sm-4 {
    margin-right: 1.5rem !important;
  }
  .mb-sm-4,
  .my-sm-4 {
    margin-bottom: 1.5rem !important;
  }
  .ml-sm-4,
  .mx-sm-4 {
    margin-left: 1.5rem !important;
  }
  .m-sm-5 {
    margin: 3rem !important;
  }
  .mt-sm-5,
  .my-sm-5 {
    margin-top: 3rem !important;
  }
  .mr-sm-5,
  .mx-sm-5 {
    margin-right: 3rem !important;
  }
  .mb-sm-5,
  .my-sm-5 {
    margin-bottom: 3rem !important;
  }
  .ml-sm-5,
  .mx-sm-5 {
    margin-left: 3rem !important;
  }
  .p-sm-0 {
    padding: 0 !important;
  }
  .pt-sm-0,
  .py-sm-0 {
    padding-top: 0 !important;
  }
  .pr-sm-0,
  .px-sm-0 {
    padding-right: 0 !important;
  }
  .pb-sm-0,
  .py-sm-0 {
    padding-bottom: 0 !important;
  }
  .pl-sm-0,
  .px-sm-0 {
    padding-left: 0 !important;
  }
  .p-sm-1 {
    padding: 0.25rem !important;
  }
  .pt-sm-1,
  .py-sm-1 {
    padding-top: 0.25rem !important;
  }
  .pr-sm-1,
  .px-sm-1 {
    padding-right: 0.25rem !important;
  }
  .pb-sm-1,
  .py-sm-1 {
    padding-bottom: 0.25rem !important;
  }
  .pl-sm-1,
  .px-sm-1 {
    padding-left: 0.25rem !important;
  }
  .p-sm-2 {
    padding: 0.5rem !important;
  }
  .pt-sm-2,
  .py-sm-2 {
    padding-top: 0.5rem !important;
  }
  .pr-sm-2,
  .px-sm-2 {
    padding-right: 0.5rem !important;
  }
  .pb-sm-2,
  .py-sm-2 {
    padding-bottom: 0.5rem !important;
  }
  .pl-sm-2,
  .px-sm-2 {
    padding-left: 0.5rem !important;
  }
  .p-sm-3 {
    padding: 1rem !important;
  }
  .pt-sm-3,
  .py-sm-3 {
    padding-top: 1rem !important;
  }
  .pr-sm-3,
  .px-sm-3 {
    padding-right: 1rem !important;
  }
  .pb-sm-3,
  .py-sm-3 {
    padding-bottom: 1rem !important;
  }
  .pl-sm-3,
  .px-sm-3 {
    padding-left: 1rem !important;
  }
  .p-sm-4 {
    padding: 1.5rem !important;
  }
  .pt-sm-4,
  .py-sm-4 {
    padding-top: 1.5rem !important;
  }
  .pr-sm-4,
  .px-sm-4 {
    padding-right: 1.5rem !important;
  }
  .pb-sm-4,
  .py-sm-4 {
    padding-bottom: 1.5rem !important;
  }
  .pl-sm-4,
  .px-sm-4 {
    padding-left: 1.5rem !important;
  }
  .p-sm-5 {
    padding: 3rem !important;
  }
  .pt-sm-5,
  .py-sm-5 {
    padding-top: 3rem !important;
  }
  .pr-sm-5,
  .px-sm-5 {
    padding-right: 3rem !important;
  }
  .pb-sm-5,
  .py-sm-5 {
    padding-bottom: 3rem !important;
  }
  .pl-sm-5,
  .px-sm-5 {
    padding-left: 3rem !important;
  }
  .m-sm-auto {
    margin: auto !important;
  }
  .mt-sm-auto,
  .my-sm-auto {
    margin-top: auto !important;
  }
  .mr-sm-auto,
  .mx-sm-auto {
    margin-right: auto !important;
  }
  .mb-sm-auto,
  .my-sm-auto {
    margin-bottom: auto !important;
  }
  .ml-sm-auto,
  .mx-sm-auto {
    margin-left: auto !important;
  }
}

@media (min-width: 791px) {
  .m-md-0 {
    margin: 0 !important;
  }
  .mt-md-0,
  .my-md-0 {
    margin-top: 0 !important;
  }
  .mr-md-0,
  .mx-md-0 {
    margin-right: 0 !important;
  }
  .mb-md-0,
  .my-md-0 {
    margin-bottom: 0 !important;
  }
  .ml-md-0,
  .mx-md-0 {
    margin-left: 0 !important;
  }
  .m-md-1 {
    margin: 0.25rem !important;
  }
  .mt-md-1,
  .my-md-1 {
    margin-top: 0.25rem !important;
  }
  .mr-md-1,
  .mx-md-1 {
    margin-right: 0.25rem !important;
  }
  .mb-md-1,
  .my-md-1 {
    margin-bottom: 0.25rem !important;
  }
  .ml-md-1,
  .mx-md-1 {
    margin-left: 0.25rem !important;
  }
  .m-md-2 {
    margin: 0.5rem !important;
  }
  .mt-md-2,
  .my-md-2 {
    margin-top: 0.5rem !important;
  }
  .mr-md-2,
  .mx-md-2 {
    margin-right: 0.5rem !important;
  }
  .mb-md-2,
  .my-md-2 {
    margin-bottom: 0.5rem !important;
  }
  .ml-md-2,
  .mx-md-2 {
    margin-left: 0.5rem !important;
  }
  .m-md-3 {
    margin: 1rem !important;
  }
  .mt-md-3,
  .my-md-3 {
    margin-top: 1rem !important;
  }
  .mr-md-3,
  .mx-md-3 {
    margin-right: 1rem !important;
  }
  .mb-md-3,
  .my-md-3 {
    margin-bottom: 1rem !important;
  }
  .ml-md-3,
  .mx-md-3 {
    margin-left: 1rem !important;
  }
  .m-md-4 {
    margin: 1.5rem !important;
  }
  .mt-md-4,
  .my-md-4 {
    margin-top: 1.5rem !important;
  }
  .mr-md-4,
  .mx-md-4 {
    margin-right: 1.5rem !important;
  }
  .mb-md-4,
  .my-md-4 {
    margin-bottom: 1.5rem !important;
  }
  .ml-md-4,
  .mx-md-4 {
    margin-left: 1.5rem !important;
  }
  .m-md-5 {
    margin: 3rem !important;
  }
  .mt-md-5,
  .my-md-5 {
    margin-top: 3rem !important;
  }
  .mr-md-5,
  .mx-md-5 {
    margin-right: 3rem !important;
  }
  .mb-md-5,
  .my-md-5 {
    margin-bottom: 3rem !important;
  }
  .ml-md-5,
  .mx-md-5 {
    margin-left: 3rem !important;
  }
  .p-md-0 {
    padding: 0 !important;
  }
  .pt-md-0,
  .py-md-0 {
    padding-top: 0 !important;
  }
  .pr-md-0,
  .px-md-0 {
    padding-right: 0 !important;
  }
  .pb-md-0,
  .py-md-0 {
    padding-bottom: 0 !important;
  }
  .pl-md-0,
  .px-md-0 {
    padding-left: 0 !important;
  }
  .p-md-1 {
    padding: 0.25rem !important;
  }
  .pt-md-1,
  .py-md-1 {
    padding-top: 0.25rem !important;
  }
  .pr-md-1,
  .px-md-1 {
    padding-right: 0.25rem !important;
  }
  .pb-md-1,
  .py-md-1 {
    padding-bottom: 0.25rem !important;
  }
  .pl-md-1,
  .px-md-1 {
    padding-left: 0.25rem !important;
  }
  .p-md-2 {
    padding: 0.5rem !important;
  }
  .pt-md-2,
  .py-md-2 {
    padding-top: 0.5rem !important;
  }
  .pr-md-2,
  .px-md-2 {
    padding-right: 0.5rem !important;
  }
  .pb-md-2,
  .py-md-2 {
    padding-bottom: 0.5rem !important;
  }
  .pl-md-2,
  .px-md-2 {
    padding-left: 0.5rem !important;
  }
  .p-md-3 {
    padding: 1rem !important;
  }
  .pt-md-3,
  .py-md-3 {
    padding-top: 1rem !important;
  }
  .pr-md-3,
  .px-md-3 {
    padding-right: 1rem !important;
  }
  .pb-md-3,
  .py-md-3 {
    padding-bottom: 1rem !important;
  }
  .pl-md-3,
  .px-md-3 {
    padding-left: 1rem !important;
  }
  .p-md-4 {
    padding: 1.5rem !important;
  }
  .pt-md-4,
  .py-md-4 {
    padding-top: 1.5rem !important;
  }
  .pr-md-4,
  .px-md-4 {
    padding-right: 1.5rem !important;
  }
  .pb-md-4,
  .py-md-4 {
    padding-bottom: 1.5rem !important;
  }
  .pl-md-4,
  .px-md-4 {
    padding-left: 1.5rem !important;
  }
  .p-md-5 {
    padding: 3rem !important;
  }
  .pt-md-5,
  .py-md-5 {
    padding-top: 3rem !important;
  }
  .pr-md-5,
  .px-md-5 {
    padding-right: 3rem !important;
  }
  .pb-md-5,
  .py-md-5 {
    padding-bottom: 3rem !important;
  }
  .pl-md-5,
  .px-md-5 {
    padding-left: 3rem !important;
  }
  .m-md-auto {
    margin: auto !important;
  }
  .mt-md-auto,
  .my-md-auto {
    margin-top: auto !important;
  }
  .mr-md-auto,
  .mx-md-auto {
    margin-right: auto !important;
  }
  .mb-md-auto,
  .my-md-auto {
    margin-bottom: auto !important;
  }
  .ml-md-auto,
  .mx-md-auto {
    margin-left: auto !important;
  }
}

@media (min-width: 1025px) {
  .m-lg-0 {
    margin: 0 !important;
  }
  .mt-lg-0,
  .my-lg-0 {
    margin-top: 0 !important;
  }
  .mr-lg-0,
  .mx-lg-0 {
    margin-right: 0 !important;
  }
  .mb-lg-0,
  .my-lg-0 {
    margin-bottom: 0 !important;
  }
  .ml-lg-0,
  .mx-lg-0 {
    margin-left: 0 !important;
  }
  .m-lg-1 {
    margin: 0.25rem !important;
  }
  .mt-lg-1,
  .my-lg-1 {
    margin-top: 0.25rem !important;
  }
  .mr-lg-1,
  .mx-lg-1 {
    margin-right: 0.25rem !important;
  }
  .mb-lg-1,
  .my-lg-1 {
    margin-bottom: 0.25rem !important;
  }
  .ml-lg-1,
  .mx-lg-1 {
    margin-left: 0.25rem !important;
  }
  .m-lg-2 {
    margin: 0.5rem !important;
  }
  .mt-lg-2,
  .my-lg-2 {
    margin-top: 0.5rem !important;
  }
  .mr-lg-2,
  .mx-lg-2 {
    margin-right: 0.5rem !important;
  }
  .mb-lg-2,
  .my-lg-2 {
    margin-bottom: 0.5rem !important;
  }
  .ml-lg-2,
  .mx-lg-2 {
    margin-left: 0.5rem !important;
  }
  .m-lg-3 {
    margin: 1rem !important;
  }
  .mt-lg-3,
  .my-lg-3 {
    margin-top: 1rem !important;
  }
  .mr-lg-3,
  .mx-lg-3 {
    margin-right: 1rem !important;
  }
  .mb-lg-3,
  .my-lg-3 {
    margin-bottom: 1rem !important;
  }
  .ml-lg-3,
  .mx-lg-3 {
    margin-left: 1rem !important;
  }
  .m-lg-4 {
    margin: 1.5rem !important;
  }
  .mt-lg-4,
  .my-lg-4 {
    margin-top: 1.5rem !important;
  }
  .mr-lg-4,
  .mx-lg-4 {
    margin-right: 1.5rem !important;
  }
  .mb-lg-4,
  .my-lg-4 {
    margin-bottom: 1.5rem !important;
  }
  .ml-lg-4,
  .mx-lg-4 {
    margin-left: 1.5rem !important;
  }
  .m-lg-5 {
    margin: 3rem !important;
  }
  .mt-lg-5,
  .my-lg-5 {
    margin-top: 3rem !important;
  }
  .mr-lg-5,
  .mx-lg-5 {
    margin-right: 3rem !important;
  }
  .mb-lg-5,
  .my-lg-5 {
    margin-bottom: 3rem !important;
  }
  .ml-lg-5,
  .mx-lg-5 {
    margin-left: 3rem !important;
  }
  .p-lg-0 {
    padding: 0 !important;
  }
  .pt-lg-0,
  .py-lg-0 {
    padding-top: 0 !important;
  }
  .pr-lg-0,
  .px-lg-0 {
    padding-right: 0 !important;
  }
  .pb-lg-0,
  .py-lg-0 {
    padding-bottom: 0 !important;
  }
  .pl-lg-0,
  .px-lg-0 {
    padding-left: 0 !important;
  }
  .p-lg-1 {
    padding: 0.25rem !important;
  }
  .pt-lg-1,
  .py-lg-1 {
    padding-top: 0.25rem !important;
  }
  .pr-lg-1,
  .px-lg-1 {
    padding-right: 0.25rem !important;
  }
  .pb-lg-1,
  .py-lg-1 {
    padding-bottom: 0.25rem !important;
  }
  .pl-lg-1,
  .px-lg-1 {
    padding-left: 0.25rem !important;
  }
  .p-lg-2 {
    padding: 0.5rem !important;
  }
  .pt-lg-2,
  .py-lg-2 {
    padding-top: 0.5rem !important;
  }
  .pr-lg-2,
  .px-lg-2 {
    padding-right: 0.5rem !important;
  }
  .pb-lg-2,
  .py-lg-2 {
    padding-bottom: 0.5rem !important;
  }
  .pl-lg-2,
  .px-lg-2 {
    padding-left: 0.5rem !important;
  }
  .p-lg-3 {
    padding: 1rem !important;
  }
  .pt-lg-3,
  .py-lg-3 {
    padding-top: 1rem !important;
  }
  .pr-lg-3,
  .px-lg-3 {
    padding-right: 1rem !important;
  }
  .pb-lg-3,
  .py-lg-3 {
    padding-bottom: 1rem !important;
  }
  .pl-lg-3,
  .px-lg-3 {
    padding-left: 1rem !important;
  }
  .p-lg-4 {
    padding: 1.5rem !important;
  }
  .pt-lg-4,
  .py-lg-4 {
    padding-top: 1.5rem !important;
  }
  .pr-lg-4,
  .px-lg-4 {
    padding-right: 1.5rem !important;
  }
  .pb-lg-4,
  .py-lg-4 {
    padding-bottom: 1.5rem !important;
  }
  .pl-lg-4,
  .px-lg-4 {
    padding-left: 1.5rem !important;
  }
  .p-lg-5 {
    padding: 3rem !important;
  }
  .pt-lg-5,
  .py-lg-5 {
    padding-top: 3rem !important;
  }
  .pr-lg-5,
  .px-lg-5 {
    padding-right: 3rem !important;
  }
  .pb-lg-5,
  .py-lg-5 {
    padding-bottom: 3rem !important;
  }
  .pl-lg-5,
  .px-lg-5 {
    padding-left: 3rem !important;
  }
  .m-lg-auto {
    margin: auto !important;
  }
  .mt-lg-auto,
  .my-lg-auto {
    margin-top: auto !important;
  }
  .mr-lg-auto,
  .mx-lg-auto {
    margin-right: auto !important;
  }
  .mb-lg-auto,
  .my-lg-auto {
    margin-bottom: auto !important;
  }
  .ml-lg-auto,
  .mx-lg-auto {
    margin-left: auto !important;
  }
}

@media (min-width: 1200px) {
  .m-xl-0 {
    margin: 0 !important;
  }
  .mt-xl-0,
  .my-xl-0 {
    margin-top: 0 !important;
  }
  .mr-xl-0,
  .mx-xl-0 {
    margin-right: 0 !important;
  }
  .mb-xl-0,
  .my-xl-0 {
    margin-bottom: 0 !important;
  }
  .ml-xl-0,
  .mx-xl-0 {
    margin-left: 0 !important;
  }
  .m-xl-1 {
    margin: 0.25rem !important;
  }
  .mt-xl-1,
  .my-xl-1 {
    margin-top: 0.25rem !important;
  }
  .mr-xl-1,
  .mx-xl-1 {
    margin-right: 0.25rem !important;
  }
  .mb-xl-1,
  .my-xl-1 {
    margin-bottom: 0.25rem !important;
  }
  .ml-xl-1,
  .mx-xl-1 {
    margin-left: 0.25rem !important;
  }
  .m-xl-2 {
    margin: 0.5rem !important;
  }
  .mt-xl-2,
  .my-xl-2 {
    margin-top: 0.5rem !important;
  }
  .mr-xl-2,
  .mx-xl-2 {
    margin-right: 0.5rem !important;
  }
  .mb-xl-2,
  .my-xl-2 {
    margin-bottom: 0.5rem !important;
  }
  .ml-xl-2,
  .mx-xl-2 {
    margin-left: 0.5rem !important;
  }
  .m-xl-3 {
    margin: 1rem !important;
  }
  .mt-xl-3,
  .my-xl-3 {
    margin-top: 1rem !important;
  }
  .mr-xl-3,
  .mx-xl-3 {
    margin-right: 1rem !important;
  }
  .mb-xl-3,
  .my-xl-3 {
    margin-bottom: 1rem !important;
  }
  .ml-xl-3,
  .mx-xl-3 {
    margin-left: 1rem !important;
  }
  .m-xl-4 {
    margin: 1.5rem !important;
  }
  .mt-xl-4,
  .my-xl-4 {
    margin-top: 1.5rem !important;
  }
  .mr-xl-4,
  .mx-xl-4 {
    margin-right: 1.5rem !important;
  }
  .mb-xl-4,
  .my-xl-4 {
    margin-bottom: 1.5rem !important;
  }
  .ml-xl-4,
  .mx-xl-4 {
    margin-left: 1.5rem !important;
  }
  .m-xl-5 {
    margin: 3rem !important;
  }
  .mt-xl-5,
  .my-xl-5 {
    margin-top: 3rem !important;
  }
  .mr-xl-5,
  .mx-xl-5 {
    margin-right: 3rem !important;
  }
  .mb-xl-5,
  .my-xl-5 {
    margin-bottom: 3rem !important;
  }
  .ml-xl-5,
  .mx-xl-5 {
    margin-left: 3rem !important;
  }
  .p-xl-0 {
    padding: 0 !important;
  }
  .pt-xl-0,
  .py-xl-0 {
    padding-top: 0 !important;
  }
  .pr-xl-0,
  .px-xl-0 {
    padding-right: 0 !important;
  }
  .pb-xl-0,
  .py-xl-0 {
    padding-bottom: 0 !important;
  }
  .pl-xl-0,
  .px-xl-0 {
    padding-left: 0 !important;
  }
  .p-xl-1 {
    padding: 0.25rem !important;
  }
  .pt-xl-1,
  .py-xl-1 {
    padding-top: 0.25rem !important;
  }
  .pr-xl-1,
  .px-xl-1 {
    padding-right: 0.25rem !important;
  }
  .pb-xl-1,
  .py-xl-1 {
    padding-bottom: 0.25rem !important;
  }
  .pl-xl-1,
  .px-xl-1 {
    padding-left: 0.25rem !important;
  }
  .p-xl-2 {
    padding: 0.5rem !important;
  }
  .pt-xl-2,
  .py-xl-2 {
    padding-top: 0.5rem !important;
  }
  .pr-xl-2,
  .px-xl-2 {
    padding-right: 0.5rem !important;
  }
  .pb-xl-2,
  .py-xl-2 {
    padding-bottom: 0.5rem !important;
  }
  .pl-xl-2,
  .px-xl-2 {
    padding-left: 0.5rem !important;
  }
  .p-xl-3 {
    padding: 1rem !important;
  }
  .pt-xl-3,
  .py-xl-3 {
    padding-top: 1rem !important;
  }
  .pr-xl-3,
  .px-xl-3 {
    padding-right: 1rem !important;
  }
  .pb-xl-3,
  .py-xl-3 {
    padding-bottom: 1rem !important;
  }
  .pl-xl-3,
  .px-xl-3 {
    padding-left: 1rem !important;
  }
  .p-xl-4 {
    padding: 1.5rem !important;
  }
  .pt-xl-4,
  .py-xl-4 {
    padding-top: 1.5rem !important;
  }
  .pr-xl-4,
  .px-xl-4 {
    padding-right: 1.5rem !important;
  }
  .pb-xl-4,
  .py-xl-4 {
    padding-bottom: 1.5rem !important;
  }
  .pl-xl-4,
  .px-xl-4 {
    padding-left: 1.5rem !important;
  }
  .p-xl-5 {
    padding: 3rem !important;
  }
  .pt-xl-5,
  .py-xl-5 {
    padding-top: 3rem !important;
  }
  .pr-xl-5,
  .px-xl-5 {
    padding-right: 3rem !important;
  }
  .pb-xl-5,
  .py-xl-5 {
    padding-bottom: 3rem !important;
  }
  .pl-xl-5,
  .px-xl-5 {
    padding-left: 3rem !important;
  }
  .m-xl-auto {
    margin: auto !important;
  }
  .mt-xl-auto,
  .my-xl-auto {
    margin-top: auto !important;
  }
  .mr-xl-auto,
  .mx-xl-auto {
    margin-right: auto !important;
  }
  .mb-xl-auto,
  .my-xl-auto {
    margin-bottom: auto !important;
  }
  .ml-xl-auto,
  .mx-xl-auto {
    margin-left: auto !important;
  }
}

.text-justify {
  text-align: justify !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

@media (min-width: 576px) {
  .text-sm-left {
    text-align: left !important;
  }
  .text-sm-right {
    text-align: right !important;
  }
  .text-sm-center {
    text-align: center !important;
  }
}

@media (min-width: 791px) {
  .text-md-left {
    text-align: left !important;
  }
  .text-md-right {
    text-align: right !important;
  }
  .text-md-center {
    text-align: center !important;
  }
}

@media (min-width: 1025px) {
  .text-lg-left {
    text-align: left !important;
  }
  .text-lg-right {
    text-align: right !important;
  }
  .text-lg-center {
    text-align: center !important;
  }
}

@media (min-width: 1200px) {
  .text-xl-left {
    text-align: left !important;
  }
  .text-xl-right {
    text-align: right !important;
  }
  .text-xl-center {
    text-align: center !important;
  }
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.font-weight-light {
  font-weight: 300 !important;
}

.font-weight-normal {
  font-weight: 400 !important;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.font-italic {
  font-style: italic !important;
}

.text-white {
  color: #fff !important;
}

.text-primary {
  color: #007bff !important;
}

a.text-primary:hover, a.text-primary:focus {
  color: #0062cc !important;
}

.text-secondary {
  color: #6c757d !important;
}

a.text-secondary:hover, a.text-secondary:focus {
  color: #545b62 !important;
}

.text-success {
  color: #28a745 !important;
}

a.text-success:hover, a.text-success:focus {
  color: #1e7e34 !important;
}

.text-info {
  color: #17a2b8 !important;
}

a.text-info:hover, a.text-info:focus {
  color: #117a8b !important;
}

.text-warning {
  color: #ffc107 !important;
}

a.text-warning:hover, a.text-warning:focus {
  color: #d39e00 !important;
}

.text-danger {
  color: #dc3545 !important;
}

a.text-danger:hover, a.text-danger:focus {
  color: #bd2130 !important;
}

.text-light {
  color: #f8f9fa !important;
}

a.text-light:hover, a.text-light:focus {
  color: #dae0e5 !important;
}

.text-dark {
  color: #343a40 !important;
}

a.text-dark:hover, a.text-dark:focus {
  color: #1d2124 !important;
}

.text-muted {
  color: #6c757d !important;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.visible {
  visibility: visible !important;
}

.invisible {
  visibility: hidden !important;
}

@media print {
  *,
  *::before,
  *::after {
    text-shadow: none !important;
    box-shadow: none !important;
  }
  a:not(.btn) {
    text-decoration: underline;
  }
  abbr[title]::after {
    content: " (" attr(title) ")";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  @page {
    size: a3;
  }
  body {
    min-width: 1025px !important;
  }
  .container {
    min-width: 1025px !important;
  }
  .navbar {
    display: none;
  }
  .badge {
    border: 1px solid #000;
  }
  .table {
    border-collapse: collapse !important;
  }
  .table td,
  .table th {
    background-color: #fff !important;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important;
  }
}

@font-face {
  font-family: 'wokiee_icons';
  src:  url('../font/fonts/wokiee_icons.eot?87a912');
  src:  url('../font/fonts/wokiee_icons.eot?87a912#iefix') format('embedded-opentype'),
    url('../font/fonts/wokiee_icons.ttf?87a912') format('truetype'),
    url('../font/fonts/wokiee_icons.woff?87a912') format('woff'),
    url('../font/fonts/wokiee_icons.svg?87a912#wokiee_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'wokiee_icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.unitRight{
 visibility:hidden;
}
.icon-n-07:before {
  content: "\ea61";
}
.icon-n-02:before {
  content: "\ea5e";
}
.icon-n-05:before {
  content: "\ea5f";
}
.icon-n-06:before {
  content: "\ea60";
}
.icon-h-58:before {
  content: "\ea59";
}
.icon-h-59:before {
  content: "\ea5a";
}
.icon-h-60:before {
  content: "\ea5b";
}
.icon-h-61:before {
  content: "\ea5c";
}
.icon-h-62:before {
  content: "\ea5d";
}
.icon-e-01:before {
  content: "\e900";
}
.icon-e-02:before {
  content: "\e901";
}
.icon-e-03:before {
  content: "\e902";
}
.icon-e-04:before {
  content: "\e903";
}
.icon-e-05:before {
  content: "\e904";
}
.icon-e-06:before {
  content: "\e905";
}
.icon-e-07:before {
  content: "\e906";
}
.icon-e-08:before {
  content: "\e907";
}
.icon-e-09:before {
  content: "\e908";
}
.icon-e-10:before {
  content: "\e909";
}
.icon-e-11:before {
  content: "\e90a";
}
.icon-e-12:before {
  content: "\e90b";
}
.icon-e-13:before {
  content: "\e90c";
}
.icon-e-14:before {
  content: "\e90d";
}
.icon-e-15:before {
  content: "\e90e";
}
.icon-e-16:before {
  content: "\e90f";
}
.icon-e-17:before {
  content: "\e910";
}
.icon-e-18:before {
  content: "\e911";
}
.icon-e-19:before {
  content: "\e912";
}
.icon-e-20:before {
  content: "\e913";
}
.icon-e-21:before {
  content: "\e914";
}
.icon-e-22:before {
  content: "\e915";
}
.icon-e-23:before {
  content: "\e916";
}
.icon-e-24:before {
  content: "\e917";
}
.icon-e-25:before {
  content: "\e918";
}
.icon-e-26:before {
  content: "\e919";
}
.icon-e-27:before {
  content: "\e91a";
}
.icon-e-28:before {
  content: "\e91b";
}
.icon-e-29:before {
  content: "\e91c";
}
.icon-e-30:before {
  content: "\e91d";
}
.icon-e-31:before {
  content: "\e91e";
}
.icon-e-32:before {
  content: "\e91f";
}
.icon-e-33:before {
  content: "\e920";
}
.icon-e-34:before {
  content: "\e921";
}
.icon-e-35:before {
  content: "\e922";
}
.icon-e-36:before {
  content: "\e923";
}
.icon-e-37:before {
  content: "\e924";
}
.icon-e-38:before {
  content: "\e925";
}
.icon-e-39:before {
  content: "\e926";
}
.icon-e-40:before {
  content: "\e927";
}
.icon-e-41:before {
  content: "\e928";
}
.icon-e-42:before {
  content: "\e929";
}
.icon-e-43:before {
  content: "\e92a";
}
.icon-e-44:before {
  content: "\e92b";
}
.icon-e-45:before {
  content: "\e92c";
}
.icon-e-46:before {
  content: "\e92d";
}
.icon-e-47:before {
  content: "\e92e";
}
.icon-e-48:before {
  content: "\e92f";
}
.icon-e-49:before {
  content: "\e930";
}
.icon-e-50:before {
  content: "\e931";
}
.icon-e-51:before {
  content: "\e932";
}
.icon-e-52:before {
  content: "\e933";
}
.icon-e-53:before {
  content: "\e934";
}
.icon-e-54:before {
  content: "\e935";
}
.icon-e-55:before {
  content: "\e936";
}
.icon-e-56:before {
  content: "\e937";
}
.icon-e-57:before {
  content: "\e938";
}
.icon-e-58:before {
  content: "\e939";
}
.icon-e-59:before {
  content: "\e93a";
}
.icon-e-60:before {
  content: "\e93b";
}
.icon-e-61:before {
  content: "\e93c";
}
.icon-e-62:before {
  content: "\e93d";
}
.icon-e-63:before {
  content: "\e93e";
}
.icon-e-64:before {
  content: "\e93f";
}
.icon-e-65:before {
  content: "\e940";
}
.icon-e-66:before {
  content: "\e941";
}
.icon-e-67:before {
  content: "\e942";
}
.icon-e-68:before {
  content: "\e943";
}
.icon-e-69:before {
  content: "\e944";
}
.icon-e-70:before {
  content: "\e945";
}
.icon-e-71:before {
  content: "\e946";
}
.icon-e-72:before {
  content: "\e947";
}
.icon-e-73:before {
  content: "\e948";
}
.icon-e-74:before {
  content: "\e949";
}
.icon-e-75:before {
  content: "\e94a";
}
.icon-e-76:before {
  content: "\e94b";
}
.icon-e-77:before {
  content: "\e94c";
}
.icon-e-78:before {
  content: "\e94d";
}
.icon-e-79:before {
  content: "\e94e";
}
.icon-e-80:before {
  content: "\e94f";
}
.icon-e-81:before {
  content: "\e950";
}
.icon-e-82:before {
  content: "\e951";
}
.icon-e-83:before {
  content: "\e952";
}
.icon-e-84:before {
  content: "\e953";
}
.icon-e-85:before {
  content: "\e954";
}
.icon-e-86:before {
  content: "\e955";
}
.icon-e-87:before {
  content: "\e956";
}
.icon-e-88:before {
  content: "\e957";
}
.icon-e-89:before {
  content: "\e958";
}
.icon-e-90:before {
  content: "\e959";
}
.icon-e-91:before {
  content: "\e95a";
}
.icon-e-92:before {
  content: "\e95b";
}
.icon-e-93:before {
  content: "\e95c";
}
.icon-e-94:before {
  content: "\e95d";
}
.icon-e-95:before {
  content: "\e95e";
}
.icon-e-96:before {
  content: "\e95f";
}
.icon-f-01:before {
  content: "\e960";
}
.icon-f-02:before {
  content: "\e961";
}
.icon-f-03:before {
  content: "\e962";
}
.icon-f-04:before {
  content: "\e963";
}
.icon-f-05:before {
  content: "\e964";
}
.icon-f-06:before {
  content: "\e965";
}
.icon-f-07:before {
  content: "\e966";
}
.icon-f-08:before {
  content: "\e967";
}
.icon-f-09:before {
  content: "\e968";
}
.icon-f-10:before {
  content: "\e969";
}
.icon-f-11:before {
  content: "\e96a";
}
.icon-f-12:before {
  content: "\e96b";
}
.icon-f-13:before {
  content: "\e96c";
}
.icon-f-14:before {
  content: "\e96d";
}
.icon-f-15:before {
  content: "\e96e";
}
.icon-f-16:before {
  content: "\e96f";
}
.icon-f-17:before {
  content: "\e970";
}
.icon-f-18:before {
  content: "\e971";
}
.icon-f-19:before {
  content: "\e972";
}
.icon-f-20:before {
  content: "\e973";
}
.icon-f-21:before {
  content: "\e974";
}
.icon-f-22:before {
  content: "\e975";
}
.icon-f-23:before {
  content: "\e976";
}
.icon-f-24:before {
  content: "\e977";
}
.icon-f-25:before {
  content: "\e978";
}
.icon-f-26:before {
  content: "\e979";
}
.icon-f-27:before {
  content: "\e97a";
}
.icon-f-28:before {
  content: "\e97b";
}
.icon-f-29:before {
  content: "\e97c";
}
.icon-f-30:before {
  content: "\e97d";
}
.icon-f-31:before {
  content: "\e97e";
}
.icon-f-32:before {
  content: "\e97f";
}
.icon-f-33:before {
  content: "\e980";
}
.icon-f-34:before {
  content: "\e981";
}
.icon-f-35:before {
  content: "\e982";
}
.icon-f-36:before {
  content: "\e983";
}
.icon-f-37:before {
  content: "\e984";
}
.icon-f-38:before {
  content: "\e985";
}
.icon-f-39:before {
  content: "\e986";
}
.icon-f-40:before {
  content: "\e987";
}
.icon-f-41:before {
  content: "\e988";
}
.icon-f-42:before {
  content: "\e989";
}
.icon-f-43:before {
  content: "\e98a";
}
.icon-f-44:before {
  content: "\e98b";
}
.icon-f-45:before {
  content: "\e98c";
}
.icon-f-46:before {
  content: "\e98d";
}
.icon-f-47:before {
  content: "\e98e";
}
.icon-f-48:before {
  content: "\e98f";
}
.icon-f-49:before {
  content: "\e990";
}
.icon-f-50:before {
  content: "\e991";
}
.icon-f-51:before {
  content: "\e992";
}
.icon-f-52:before {
  content: "\e993";
}
.icon-f-53:before {
  content: "\e994";
}
.icon-f-54:before {
  content: "\e995";
}
.icon-f-55:before {
  content: "\e996";
}
.icon-f-56:before {
  content: "\e997";
}
.icon-f-57:before {
  content: "\e998";
}
.icon-f-58:before {
  content: "\e999";
}
.icon-f-59:before {
  content: "\e99a";
}
.icon-f-60:before {
  content: "\e99b";
}
.icon-f-61:before {
  content: "\e99c";
}
.icon-f-62:before {
  content: "\e99d";
}
.icon-f-63:before {
  content: "\e99e";
}
.icon-f-64:before {
  content: "\e99f";
}
.icon-f-65:before {
  content: "\e9a0";
}
.icon-f-66:before {
  content: "\e9a1";
}
.icon-f-67:before {
  content: "\e9a2";
}
.icon-f-68:before {
  content: "\e9a3";
}
.icon-f-69:before {
  content: "\e9a4";
}
.icon-f-70:before {
  content: "\e9a5";
}
.icon-f-71:before {
  content: "\e9a6";
}
.icon-f-72:before {
  content: "\e9a7";
}
.icon-f-73:before {
  content: "\e9a8";
}
.icon-f-74:before {
  content: "\e9a9";
}
.icon-f-75:before {
  content: "\e9aa";
}
.icon-f-76:before {
  content: "\e9ab";
}
.icon-f-77:before {
  content: "\e9ac";
}
.icon-f-78:before {
  content: "\e9ad";
}
.icon-f-79:before {
  content: "\e9ae";
}
.icon-f-80:before {
  content: "\e9af";
}
.icon-f-81:before {
  content: "\e9b0";
}
.icon-f-82:before {
  content: "\e9b1";
}
.icon-f-83:before {
  content: "\e9b2";
}
.icon-f-84:before {
  content: "\e9b3";
}
.icon-f-85:before {
  content: "\e9b4";
}
.icon-f-86:before {
  content: "\e9b5";
}
.icon-f-87:before {
  content: "\e9b6";
}
.icon-f-88:before {
  content: "\e9b7";
}
.icon-f-89:before {
  content: "\e9b8";
}
.icon-f-90:before {
  content: "\e9b9";
}
.icon-f-91:before {
  content: "\e9ba";
}
.icon-f-92:before {
  content: "\e9bb";
}
.icon-f-93:before {
  content: "\e9bc";
}
.icon-f-94:before {
  content: "\e9bd";
}
.icon-f-95:before {
  content: "\e9be";
}
.icon-f-96:before {
  content: "\e9bf";
}
.icon-g-01:before {
  content: "\e9c0";
}
.icon-g-02:before {
  content: "\e9c1";
}
.icon-g-03:before {
  content: "\e9c2";
}
.icon-g-04:before {
  content: "\e9c3";
}
.icon-g-05:before {
  content: "\e9c4";
}
.icon-g-06:before {
  content: "\e9c5";
}
.icon-g-07:before {
  content: "\e9c6";
}
.icon-g-08:before {
  content: "\e9c7";
}
.icon-g-09:before {
  content: "\e9c8";
}
.icon-g-10:before {
  content: "\e9c9";
}
.icon-g-11:before {
  content: "\e9ca";
}
.icon-g-12:before {
  content: "\e9cb";
}
.icon-g-13:before {
  content: "\e9cc";
}
.icon-g-14:before {
  content: "\e9cd";
}
.icon-g-15:before {
  content: "\e9ce";
}
.icon-g-16:before {
  content: "\e9cf";
}
.icon-g-17:before {
  content: "\e9d0";
}
.icon-g-18:before {
  content: "\e9d1";
}
.icon-g-19:before {
  content: "\e9d2";
}
.icon-g-20:before {
  content: "\e9d3";
}
.icon-g-21:before {
  content: "\e9d4";
}
.icon-g-22:before {
  content: "\e9d5";
}
.icon-g-23:before {
  content: "\e9d6";
}
.icon-g-24:before {
  content: "\e9d7";
}
.icon-g-25:before {
  content: "\e9d8";
}
.icon-g-26:before {
  content: "\e9d9";
}
.icon-g-27:before {
  content: "\e9da";
}
.icon-g-28:before {
  content: "\e9db";
}
.icon-g-29:before {
  content: "\e9dc";
}
.icon-g-30:before {
  content: "\e9dd";
}
.icon-g-31:before {
  content: "\e9de";
}
.icon-g-32:before {
  content: "\e9df";
}
.icon-g-33:before {
  content: "\e9e0";
}
.icon-g-34:before {
  content: "\e9e1";
}
.icon-g-35:before {
  content: "\e9e2";
}
.icon-g-36:before {
  content: "\e9e3";
}
.icon-g-37:before {
  content: "\e9e4";
}
.icon-g-38:before {
  content: "\e9e5";
}
.icon-g-39:before {
  content: "\e9e6";
}
.icon-g-40:before {
  content: "\e9e7";
}
.icon-g-41:before {
  content: "\e9e8";
}
.icon-g-42:before {
  content: "\e9e9";
}
.icon-g-43:before {
  content: "\e9ea";
}
.icon-g-44:before {
  content: "\e9eb";
}
.icon-g-45:before {
  content: "\e9ec";
}
.icon-g-46:before {
  content: "\e9ed";
}
.icon-g-47:before {
  content: "\e9ee";
}
.icon-g-48:before {
  content: "\e9ef";
}
.icon-g-49:before {
  content: "\e9f0";
}
.icon-g-50:before {
  content: "\e9f1";
}
.icon-g-51:before {
  content: "\e9f2";
}
.icon-g-52:before {
  content: "\e9f3";
}
.icon-g-53:before {
  content: "\e9f4";
}
.icon-g-54:before {
  content: "\e9f5";
}
.icon-g-55:before {
  content: "\e9f6";
}
.icon-g-56:before {
  content: "\e9f7";
}
.icon-g-57:before {
  content: "\e9f8";
}
.icon-g-58:before {
  content: "\e9f9";
}
.icon-g-59:before {
  content: "\e9fa";
}
.icon-g-60:before {
  content: "\e9fb";
}
.icon-g-61:before {
  content: "\e9fc";
}
.icon-g-62:before {
  content: "\e9fd";
}
.icon-g-63:before {
  content: "\e9fe";
}
.icon-g-64:before {
  content: "\e9ff";
}
.icon-g-65:before {
  content: "\ea00";
}
.icon-g-66:before {
  content: "\ea01";
}
.icon-g-67:before {
  content: "\ea02";
}
.icon-g-68:before {
  content: "\ea03";
}
.icon-g-69:before {
  content: "\ea04";
}
.icon-g-70:before {
  content: "\ea05";
}
.icon-g-71:before {
  content: "\ea06";
}
.icon-g-72:before {
  content: "\ea07";
}
.icon-g-73:before {
  content: "\ea08";
}
.icon-g-74:before {
  content: "\ea09";
}
.icon-g-75:before {
  content: "\ea0a";
}
.icon-g-76:before {
  content: "\ea0b";
}
.icon-g-77:before {
  content: "\ea0c";
}
.icon-g-78:before {
  content: "\ea0d";
}
.icon-g-79:before {
  content: "\ea0e";
}
.icon-g-80:before {
  content: "\ea0f";
}
.icon-g-81:before {
  content: "\ea10";
}
.icon-g-82:before {
  content: "\ea11";
}
.icon-g-83:before {
  content: "\ea12";
}
.icon-g-84:before {
  content: "\ea13";
}
.icon-g-85:before {
  content: "\ea14";
}
.icon-g-86:before {
  content: "\ea15";
}
.icon-g-87:before {
  content: "\ea16";
}
.icon-g-88:before {
  content: "\ea17";
}
.icon-g-89:before {
  content: "\ea18";
}
.icon-g-90:before {
  content: "\ea19";
}
.icon-g-91:before {
  content: "\ea1a";
}
.icon-g-92:before {
  content: "\ea1b";
}
.icon-g-93:before {
  content: "\ea1c";
}
.icon-g-94:before {
  content: "\ea1d";
}
.icon-g-95:before {
  content: "\ea1e";
}
.icon-g-96:before {
  content: "\ea1f";
}
.icon-h-01:before {
  content: "\ea20";
}
.icon-h-02:before {
  content: "\ea21";
}
.icon-h-03:before {
  content: "\ea22";
}
.icon-h-04:before {
  content: "\ea23";
}
.icon-h-05:before {
  content: "\ea24";
}
.icon-h-06:before {
  content: "\ea25";
}
.icon-h-07:before {
  content: "\ea26";
}
.icon-h-08:before {
  content: "\ea27";
}
.icon-h-09:before {
  content: "\ea28";
}
.icon-h-10:before {
  content: "\ea29";
}
.icon-h-11:before {
  content: "\ea2a";
}
.icon-h-12:before {
  content: "\ea2b";
}
.icon-h-13:before {
  content: "\ea2c";
}
.icon-h-14:before {
  content: "\ea2d";
}
.icon-h-15:before {
  content: "\ea2e";
}
.icon-h-16:before {
  content: "\ea2f";
}
.icon-h-17:before {
  content: "\ea30";
}
.icon-h-18:before {
  content: "\ea31";
}
.icon-h-19:before {
  content: "\ea32";
}
.icon-h-20:before {
  content: "\ea33";
}
.icon-h-21:before {
  content: "\ea34";
}
.icon-h-22:before {
  content: "\ea35";
}
.icon-h-23:before {
  content: "\ea36";
}
.icon-h-24:before {
  content: "\ea37";
}
.icon-h-25:before {
  content: "\ea38";
}
.icon-h-26:before {
  content: "\ea39";
}
.icon-h-27:before {
  content: "\ea3a";
}
.icon-h-28:before {
  content: "\ea3b";
}
.icon-h-29:before {
  content: "\ea3c";
}
.icon-h-30:before {
  content: "\ea3d";
}
.icon-h-31:before {
  content: "\ea3e";
}
.icon-h-32:before {
  content: "\ea3f";
}
.icon-h-33:before {
  content: "\ea40";
}
.icon-h-34:before {
  content: "\ea41";
}
.icon-h-35:before {
  content: "\ea42";
}
.icon-h-36:before {
  content: "\ea43";
}
.icon-h-37:before {
  content: "\ea44";
}
.icon-h-38:before {
  content: "\ea45";
}
.icon-h-39:before {
  content: "\ea46";
}
.icon-h-40:before {
  content: "\ea47";
}
.icon-h-41:before {
  content: "\ea48";
}
.icon-h-42:before {
  content: "\ea49";
}
.icon-h-43:before {
  content: "\ea4a";
}
.icon-h-44:before {
  content: "\ea4b";
}
.icon-h-45:before {
  content: "\ea4c";
}
.icon-h-46:before {
  content: "\ea4d";
}
.icon-h-47:before {
  content: "\ea4e";
}
.icon-h-48:before {
  content: "\ea4f";
}
.icon-h-49:before {
  content: "\ea50";
}
.icon-h-50:before {
  content: "\ea51";
}
.icon-h-51:before {
  content: "\ea52";
}
.icon-h-52:before {
  content: "\ea53";
}
.icon-h-53:before {
  content: "\ea54";
}
.icon-h-54:before {
  content: "\ea55";
}
.icon-h-55:before {
  content: "\ea56";
}
.icon-h-56:before {
  content: "\ea57";
}
.icon-h-57:before {
  content: "\ea58";
}

#header {
  width: 100%;
  z-index: 7;
  background: #ffffff;
  webkit-box-shadow: 4px 4px 8px rgba(232,232,232,0.5);
  -moz-box-shadow: 4px 4px 8px rgba(232,232,232,0.5);
  box-shadow: 4px 4px 8px rgba(232,232,232,0.5);
}

#header .header-holder {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: -10px;
  margin-left: -10px;
  height: 60px;
}

#header .header-holder .logo {
  display: inline-block;
}

#header .header-holder .logo-description {
  display: inline-block;
  font-weight: 500;
  color: #191919;
  margin-top: 1px;
}

#header .header-holder .logo-description a {
  color: #2879fe;
}

#header .header-holder .logo-description a:hover {
  color: #191919;
}

#header .header-holder .social-icon {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

#header .header-holder .social-icon li {
  text-align: center;
}

#header .header-holder .social-icon li a {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  color: #3f3f3f;
}

#header .header-holder .social-icon li a i {
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
}

#header .header-holder .social-icon li a span {
  display: block;
  text-align: center;
  font-size: 9px;
  line-height: 1;
  text-transform: uppercase;
}

#header .header-holder .social-icon li a:hover {
  color: #2879fe;
}

#header .header-holder .social-icon li:last-child a {
  padding-right: 0;
}

#header .header-holder #tt-menu-toggle {
  position: absolute;
  display: inline-block;
  padding: 25px 10px 21px 10px;
  cursor: pointer;
  margin-left: 8px;
  display: none;
  color: #191919;
  transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

#header .header-holder #tt-menu-toggle i {
  font-size: 20px;
  line-height: 1;
  position: relative;
  display: inline-block;
}

#header .header-holder #tt-menu-toggle:hover {
  color: #2879fe;
}

@media (min-width: 791px) {
  #header .header-holder > *:first-child {
    width: 180px;
    text-align: left;
  }
  #header .header-holder > *:last-child {
    width: 180px;
    text-align: right;
  }
}

@media (max-width: 790px) {
  #header .container {
    max-width: 100%;
  }
  #header .header-holder .logo {
    margin-left: 20px;
    margin-top: -2px;
  }
  #header .header-holder .logo-description{
    padding: 3px 20px 0 40px;
    text-align: right;
    line-height: 1.3;
  }
  #header .header-holder .col-obj:nth-child(3) {
    display: none;
  }
  #header .header-holder .col-obj:last-child {
    position: absolute;
    top: 10px;
    right: 11px;
  }
  #header .header-holder .social-icon {
    margin-top: 1px;
  }
  #header .header-holder .social-icon li a {
    padding: 10px 7px;
  }
  #header .header-holder .social-icon li a i {
    font-size: 17px;
  }
  #header .header-holder .social-icon li a span {
    display: none;
  }
  #header .header-holder .social-icon li:last-child a {
    padding: 10px 7px;
  }
  #header .header-holder #tt-menu-toggle {
    display: block;
  }
}

@media (max-width: 370px) {
  #header .header-holder .social-icon {
    margin-right: 4px;
  }
  #header .header-holder .social-icon li a {
    padding: 10px 4px;
  }
  #header .header-holder .social-icon li a i {
    font-size: 15px;
  }
  #header .header-holder .social-icon li:last-child a {
    padding: 10px 4px;
  }
}

#navmenu {
  margin-top: 0;
}

@media (min-width: 791px) {
  #navmenu {
    position: fixed;
  }
}

#navmenu.stuck-height {
  overflow-x: auto;
  width: 256px;
  height: calc(100vh - 40px);
}

#navmenu.stuckScroll {
  margin-top: -79px;
}

@media (min-width: 1025px) {
  #navmenu nav {
    width: 229px;
  }
}

@media (max-width: 1024px) {
  #navmenu nav {
    width: 219px;
  }
}

#navmenu nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#navmenu nav > ul > li > a {
  color: #191919;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  display: block;
  position: relative;
  padding: 7px 11px 7px 11px;
  text-transform: capitalize;
  border-radius: 6px;
  transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

#navmenu nav > ul > li > a:hover {
  color: #ffffff;
  background: #2879fe;
}

#navmenu nav > ul > li.active > a {
  background: #2879fe;
  color: #ffffff;
}

#navmenu nav > ul > li:not(:first-child) {
  margin-top: 1px;
}

#navmenu nav > ul ul {
  display: none;
}

#navmenu nav .submenu {
  list-style: none;
  margin: 10px 0;
  padding: 0;
}

#navmenu nav .submenu li a {
  display: block;
  padding: 7px 5px 8px 32px;
  color: #777777;
  font-size: 14px;
  line-height: 1.1;
  position: relative;
  transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

#navmenu nav .submenu li a.redcolor {
  color: #f8353e;
}

#navmenu nav .submenu li a.active, #navmenu nav .submenu li a:hover {
  color: #2879fe;
}

#navmenu nav .icon-marker {
  position: absolute;
  left: 12px;
  top: 5px;
  font-size: 18px;
  line-height: 1.1;
  display: inline-block;
}

/*
    btn
*/
.btn {
  background: #2879fe;
  font-family: "Hind", sans-serif;
  border: none;
  color: #ffffff;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  letter-spacing: 0.04em;
  position: relative;
  outline: none;
  padding: 4px 19px 3px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 6px;
  transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  text-transform: uppercase;
}

.btn i {
  font-size: 18px;
  line-height: 1;
  position: relative;
  top: -1px;
}
.btn i + span:not([class]){
  position: relative;
  top: 1px;
}

.btn-icon-right i {
  margin-left: 5px;
}

.btn-icon-left i {
  margin-right: 5px;
}

.btn:active,
.btn:visited,
.btn:focus,
button:focus {
  outline: none;
  box-shadow: none;
}

.btn:hover {
  background: #2267d8;
  color: #ffffff;
  outline: none;
}

.btn + [class^="btn"] {
  margin-left: 10px;
}

.btn.btn-video-color:not(:hover) {
  background: #f8353e;
}
.btn.btn-video-color:hover {
  background: #d82931;
}

/*
    title
*/
h3, h4, h5 {
  font-family: 'Hind', sans-serif;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  margin: 40px 0 0px 0px;
  color: #191919;
  text-transform: uppercase;
  font-weight: 500;
}

@media (max-width: 576px) {
  h3, h4, h5 {
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.02em;
    padding-right: 0;
    margin-top: 25px;
  }
}

ul + h3,
ul + h4,
ul + h5 {
  margin-top: 40px;
}

.blocktitle {
  font-family: 'Hind', sans-serif;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  padding: 0 15px 11px 0px;
  margin: 60px 0 40px 0px;
  border-bottom: 3px solid #eceaea;
  color: #191919;
  text-transform: uppercase;
  font-weight: 500;
}

@media (max-width: 576px) {
  .blocktitle {
    letter-spacing: 0.02em;
    padding-right: 0;
    margin-bottom: 30px;
    margin-top: 32px;
    font-size: 17px;
    line-height: 27px;
  }
}

/*
    list
*/
.list-01 {
  list-style: none;
  margin: 15px 0 0 0 !important;
  padding: 0;
}

.list-01 li {
  position: relative;
  padding: 2px 0 2px 11px;
  font-size: 14px;
  line-height: 24px;
  color: #777777;
}

.list-01 li:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 11px;
  left: 0;
  width: 3px;
  height: 3px;
  background: #2879fe;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.list-01 li a:not([class]) {
  text-decoration: underline;
}

.list-01 li a:not([class]):hover {
  text-decoration: none;
}

.list-01 li:last-child {
  padding-bottom: 0;
}

.list-02 {
  list-style: none;
  margin: 15px 0 0 0px !important;
  padding: 0;
}

.list-02 li {
  position: relative;
  padding: 2px 0 2px 11px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #777777;
}

.list-02 li:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 11px;
  left: 0;
  width: 3px;
  height: 3px;
  background: #2879fe;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.list-02 li a:not([class]) {
  text-decoration: underline;
}

.list-02 li a:not([class]):hover {
  text-decoration: none;
}

.list-02 li:last-child {
  padding-bottom: 0;
}

.list-02 ul {
  list-style: none;
  margin: 2px 0 0 5px;
  padding: 0;
}

.list-02 ul li {
  position: relative;
  padding: 2px 0 2px 11px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #777777;
}

.list-02 ul li:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 11px;
  left: 0;
  width: 3px;
  height: 3px;
  background: #191919;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.list-02 ul li a:not([class]) {
  text-decoration: underline;
}

.list-02 ul li a:not([class]):hover {
  text-decoration: none;
}

.list-02 ul li:last-child {
  padding-bottom: 0;
}

.list-03 {
  list-style-type: none;
  counter-reset: ol-counter;
  padding: 0;
  margin: 0;
}

.list-03 li {
  list-style-type: none;
  counter-increment: chapter;
  position: relative;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #777777;
  padding: 2px 0 2px 20px;
}

.list-03 li a:not([class]) {
  text-decoration: underline;
  color: #2879fe;
}

.list-03 li a:not([class]):hover {
  text-decoration: none;
}

.list-03 li:last-child {
  padding-bottom: 0;
}

.list-03 li:before {
  content: counter(ol-counter) ".";
  counter-increment: ol-counter;
  max-width: 30px;
  font-weight: 500;
  position: absolute;
  top: 2px;
  left: 0;
  font-size: 14px;
  color: #191919;
}

hr {
  box-sizing: content-box;
  height: 0;
  border: 0;
  overflow: visible;
  border-top: 1px solid #e9e7e7;
}

@media (min-width: 577px) {
  hr {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media (max-width: 576px) {
  hr {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

/*
    tt-alert
*/
.tt-alert {
  background: #fff5f5;
  border-left: 3px solid #f8353e;
  color: #191919;
  padding: 8px 0 11px 19px;
  margin-top: 15px;
}

.tt-alert .tt-title {
  font-size: 14px;
  line-height: 22px;
  color: #f8353e;
}

.tt-alert .tt-title i {
  font-size: 20px;
  line-height: 1.1;
  position: relative;
  top: 4px;
  margin-left: -2px;
  margin-right: 6px;
  color: #f8353e;
}

.tt-alert .tt-title + .tt-description {
  padding-top: 5px;
}

.tt-alert .tt-description {
  color: #191919;
  font-size: 14px;
  line-height: 22px;
}

h3 + .tt-alert,
h4 + .tt-alert,
h5 + .tt-alert {
  margin-top: 4px;
}

.tt-alert-02 {
  background: #fff5f5;
  color: #f8353e;
  font-size: 14px;
  line-height: 22px;
  padding: 10px 10px 8px 46px;
  margin-top: 25px;
  position: relative;
}

.tt-alert-02 i:first-child {
  color: #f8353e;
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 20px;
}

.tt-alert-02 strong {
  color: #f8353e;
}

.tt-alert-02 a {
  text-decoration: underline;
}

.tt-alert-02 a:hover {
  text-decoration: none;
}

.col-content a:not([class]) {
  text-decoration: underline;
  color: #2879fe;
}

.col-content a:not([class]):hover {
  text-decoration: none;
}

.col-content a.simplelink {
  text-decoration: none;
  color: #2879fe;
  -moz-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.col-content a.simplelink:hover {
  color: #191919;
}

.col-content p {
  margin-top: 25px;
  margin-bottom: 0;
}

.col-content .blocktitle + p {
  margin-top: 0;
}

.col-content > *:nth-child(1) {
  margin-top: 0;
}

.col-content > *:nth-child(1).blocktitle {
  margin-top: -6px;
}

.col-content h1 + *,
.col-content h2 + *,
.col-content h3 + *,
.col-content h4 + *,
.col-content h5 + * {
  margin-top: 20px;
}

.col-content img {
  display: block;
  margin-top: 20px;
  border: 1px solid #e9e7e7;
  max-width: 100%;
}

.col-content ul img,
.col-content ol img,
.col-content ul .btn,
.col-content ol .btn {
  margin: 20px 0;
}

.col-content hr + h2,
.col-content hr + h3
hr + h4,
.col-content hr + h5 {
  margin: 0;
}

.col-content .margin0 {
  margin-top: 0 !important;
}
.col-content .margin5 {
  margin-top: 5px !important;
}
.col-content .margin20 {
  margin-top: 20px !important;
}
.col-content .margin30 {
  margin-top: 30px !important;
}
.col-content .margin40 {
  margin-top: 40px !important;
}
.col-content .margin50 {
  margin-top: 50px !important;
}

.col-content .basecolor {
  color: #2879fe;
}
.col-content .redcolor {
  color: #f8353e;
}
.col-content .basecolorbtntext {
  color: #2879fe;
  background: #ffffff;
  padding: 5px 8px 3px;
  margin-left: 10px;
  position: relative;
  bottom: 1px;
  transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
}
.col-content a:hover .basecolorbtntext {
  color: #ffffff;
  background: #2879fe;
}

.col-content xmp.inlineblock {
  display: inline-block;
  margin: 10px 0 0 0;
}

/*
Global
*/
html.touch-device {
  overflow-x: hidden;
}

body {
  font-family: "Hind", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #777777;
  background: #ffffff;
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  outline: none;
  color: #2879fe;
}

a:hover {
  outline: none;
  text-decoration: none;
  outline: none;
}

a:active,
a:visited,
a:focus {
  text-decoration: none;
  outline: none;
}

/* content */
#pageContent {
  position: relative;
  z-index: 1;
  margin-top: 39px;
}

#pageContent .content-holder {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  min-height: calc(100vh - 100px);
  margin-left: -10px;
  margin-right: -10px;
}

@media (min-width: 1025px) {
  #pageContent .col-menu {
    min-width: 269px;
    width: 269px;
  }
}

@media (max-width: 1024px) {
  #pageContent .col-menu {
    min-width: 239px;
    width: 239px;
  }
}

@media (min-width: 791px) {
  #pageContent .col-menu {
    position: relative;
    padding-right: 30px;
  }
}

@media (max-width: 790px) {
  #pageContent .col-menu {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
    background: #ffffff;
    position: fixed;
    z-index: 2;
    top: 60px;
    height: 100%;
    left: -300px;
    overflow: hidden;
    -moz-transition: left 0.3s linear;
    -o-transition: left 0.3s linear;
    -webkit-transition: left 0.3s linear;
    transition: left 0.3s linear;
  }
  #pageContent .col-menu.is-open {
    left: 0;
  }
  #pageContent .col-menu #navmenu {
    padding-top: 16px;
    padding-left: 20px;
    padding-right: 20px;
  }
  #pageContent .col-menu #navmenu nav {
    width: 100%;
  }
}

#pageContent .col-content {
  -webkit-flex: 2 2 auto;
  -ms-flex: 2 2 auto;
  flex: 2 2 auto;
  position: relative;
  padding-bottom: 30px;
}

#pageContent .col-content:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: #eceaea;
  z-index: 1;
}

@media (min-width: 791px) {
  #pageContent .col-content {
    padding-left: 31px;
  }
}

@media (max-width: 790px) {
  #pageContent .col-content:before {
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
  }
}

@media (max-width: 575px) {
  #pageContent .col-content {
    padding-left: 20px;
    padding-right: 20px;
  }
}

#tt-back-to-top {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
  width: 62px;
  height: 62px;
  background-color: rgba(40, 121, 254, 0.75);
  color: #ffffff;
  font-size: 0;
  line-height: 0;
  position: fixed;
  bottom: -64px;
  right: 0%;
  z-index: 20;
}

#tt-back-to-top:before {
  font-family: 'wokiee_icons' !important;
  content: "\e9c9";
  display: block;
  font-size: 20px;
  line-height: 1;
  position: relative;
  top: 0;
  -moz-transition: top 0.2s linear;
  -o-transition: top 0.2s linear;
  -webkit-transition: top 0.2s linear;
  transition: top 0.2s linear;
}

#tt-back-to-top:hover {
  background-color: rgba(34, 103, 216, 0.75);
  color: #ffffff;
}

#tt-back-to-top:hover:before {
  top: -4px;
}

#tt-back-to-top.tt-show {
  bottom: 50px;
}
.hide{
	display: none !important;
}
.small_title_text{
	font-size: 14px;
	color: #2879fe;
}
/* back button */
.back_button{
	position: fixed;
	z-index: 10;
	top: 75px;
	color: #f8353e;
	cursor: pointer;
}
.back_button:hover{
	color: #191919;
}
.backstuckScroll .back_button{
	top: 10px;
	padding: 5px 25px 5px 0;
}
.backstuckScroll #navmenu.stuckScroll{
	margin-top: -50px;
}
/* table */
.table-01{
	margin: 20px 0;
}
.table-01:not(.in-half) {
  width: 100%;
}

.table-01.in-half {
  max-width: 900px;
}

.table-01 td {
  border: 1px solid #eceaea;
  padding: 13px;
}

.table-01.in-half.firststatic tr td:first-child{
  width: 145px;
}

.subbutton {
    position: fixed;
    top: 45%;
    right: 0;
    z-index: 10;
}
.btn i.icon-e-18 {
	font-size: 23px;
	top: 0;
}
#header .header-holder .logo{
   position: relative;
   top: -3px;
}
#header .header-holder .logo img{
	max-height: 25px; width: auto;
}
#header .header-holder > *:nth-child(2){
	text-align: right;
}
#header .header-holder > *:last-child{
	display: none;
}


.presets-layout{
  margin-top: -60px;
}
.presets-layout h3{
  margin-top:0;
}
.presets-layout [class^="col-"]{
    margin-top: 100px;
}